VITE_SUPABASE_URL=https://bmtghldecntlolkdkjqk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJtdGdobGRlY250bG9sa2RranFrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzcwMjUxMTEsImV4cCI6MjA1MjYwMTExMX0.VgHPvCeSUnT9NPQwFk77krtkTRaui_aJ72TubTCjcSc